@import './constants.scss';

@import '~bootstrap/scss/bootstrap.scss';
@import '~ionicons/dist/scss/ionicons.scss';

@import '~react-css-grid-table/react-css-grid-table.css';

html, body {
    font-family: $font;
    width: 100%;
    height: 100%;
    color: $font-color-medium;
    background-color: #f7f7f7;
}

#root {
    height: 100%;
}

.container {
    background: #f9f9f9; 
}

.align-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.Main {
    padding-top: 2em;
}

a, a:hover, a:focus {
    color: $green-primary;
    text-decoration: none;
}

a:hover, a:focus {
    color: $green-primary;
}

.Posts .Table {
    .ion-ios-chatbubbles-outline {
	font-size: 1.5em;
    }
    .ion-ios-heart-outline {
	color: red;
	font-size: 1.5em;
    }
}

.Table__user {
    color: $green-primary;
}

.CreatePost {
    textarea, input {
        width: 100%;
    }  

    .CreatePost__container {
        margin-top: 40px;
        background: $white;
        border: 1px solid $gray-border;
        padding: 40px 45px;
        border-top: 2px solid $green-primary;
    }

    .CreatePost__field {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-row-gap: 15px;
        
        label {
            text-align: right;
            margin-right: 20px;
        }
        
    }
}
